---
import config from "../game/config";

const size = config.boardSize;
const rows = new Array(size).fill('');
const squares = new Array(size).fill('');
---

<div class="grid">
    <!-- row starts from 0 to sync with index -->
    {rows.map((row, index) => <div class=`row-${index}` >
        {squares.map((el, index) => <div class=`square-${index}` ></div>)}
    </div>)}
</div>

<style>
    :root {
        --carrier: yellow;
        --battleship: green;
        --submarine: blue;
        --destroyer: white;
    }
    
    .grid {
        /* display: grid;
        grid-template-columns: repeat(10, 1fr); */
    }

    div[class^='row'] {
        display: flex;
    }

    div[class^='square'] {
        width: 40px;
        height: 40px;
        background-color: rgb(136, 58, 234);
        border: 1px solid black;
        cursor: pointer;

        &.hover,
        &.ship {
            background-color: rgb(49, 10, 101);
        }

        &.hover.ship,
        &.destroyed{
            background-color: red;
        }

        &.carrier {
            background-color: var(--carrier);
        }

        &.battleship {
            background-color: var(--battleship);
        }

        &.cruiser {
            background-color: var(--cruiser);
        }

        &.submarine {
            background-color: var(--submarine);
        }

        &.destroyer {
            background-color: var(--destroyer);
        }
    }
</style>
